<h1>Project list</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Hours Allowed</th>
      <th>Total Hours</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.id %></td>
        <td><%= project.name %></td>
        <td><%= project.hours_allowed %></td>
        <% if project.project_total_hours > project.hours_allowed %>
          <td class="limit-red"><%= project.project_total_hours %></td>
        <% else %>
          <td><%= project.project_total_hours %></td>
        <% end %>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
<%= link_to 'Time Entry Home', time_entries_path %>
<%= link_to 'Developer Home', developers_path %>
