<h1>New Project</h1>

<%= form_for @project do |t|%>
  <div class="field">
    <%= t.label :name %><br>
    <%= t.text_field :name %>
  </div>
  <br>
  <div class="field">
    <%= t.label :hours_allowed %><br>
    <%= t.number_field :hours_allowed %>
  </div>
  <br>
  <div class="actions">
    <%= t.submit %>
  </div>
<% end %>
